body {
	background: black;
	font-family: "Inter", sans-serif;
}

/*alignment/*

* {
	border: 1px dashed red;
	min-height: 10px;
}
*/

.postcard {
	background: white;
	width: 600px;
	height: 300px;
	margin: 100 px auto;
}

.postcard-header {
	display: flex;
	justify-content: space-between; /*here if I remove this line it will be on left side but also both  title and image are moving both*/
	padding: 10px;
}

.postcard-header img {
	height: 70px;
}

.postcard-header h1 {
	width: 200px;
	margin: 0;
	padding-top: 8px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
}

.postcard-footer {
	text-align: center;
	padding: 10px;
}

button {
	background-color: #8a8a8a;
	padding: 5px 10px;
}
